@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-gray-900 text-white;
}

.leaflet-popup-close-button {
  font-size: 34px !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  text-align: center !important;
  margin-right: 12px;
  color: #4a5568; /* text-gray-500 */
}

.leaflet-popup-close-button:hover {
  color: #2d3748; /* text-gray-700 */
}

.leaflet-popup-content-wrapper {
  max-height: 72vh; 
  overflow-y: auto; 
  overflow-x: hidden; 
  padding-top: 20px;  
  padding-bottom: 10px;
  max-width: 80vw; 
  background-color: white; /* bg-white for light mode */
  color: black; /* text-black for light mode */
}

.leaflet-popup-content-wrapper::-webkit-scrollbar {
  width: 5px; 
}

.leaflet-popup-content-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light mode scrollbar track */
}

.leaflet-popup-content-wrapper::-webkit-scrollbar-thumb {
  background: #888; /* Light mode scrollbar thumb */
}

.leaflet-popup-content-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555; /* Light mode scrollbar thumb on hover */
}

@media (min-width: 640px) {
  .leaflet-popup-content-wrapper {
    max-width: 40vw; 
  }
}

@media (min-width: 1024px) {
  .leaflet-popup-content-wrapper {
    max-width: 30vw; 
  }
}

/* Dark mode adjustments */
.dark .leaflet-popup-content-wrapper {
  background-color: #1f2937; /* bg-gray-800 for dark mode */
  color: #edf2f7; /* text-gray-200 for dark mode */
}

.dark .leaflet-popup-content-wrapper::-webkit-scrollbar-track {
  background: #4a5568; /* bg-gray-700 for dark mode */
}

.dark .leaflet-popup-content-wrapper::-webkit-scrollbar-thumb {
  background: #a0aec0; /* bg-gray-400 for dark mode */
}

.dark .leaflet-popup-content-wrapper::-webkit-scrollbar-thumb:hover {
  background: #cbd5e0; /* bg-gray-300 for dark mode */
}

.dark .leaflet-popup-close-button {
  color: #a0aec0; /* text-gray-400 */
}

.dark .leaflet-popup-close-button:hover {
  color: #edf2f7; /* text-gray-200 */
}

/* Additional styles to match the InfoBar component */
.leaflet-popup-content p {
  margin: 0.5rem 0;
  color: inherit; /* inherit color from parent */
}

.leaflet-popup-content strong {
  color: inherit; /* inherit color from parent */
}

.dark .leaflet-popup-content p {
  color: #edf2f7; /* text-gray-200 */
}

.dark .leaflet-popup-content strong {
  color: #edf2f7; /* text-gray-200 */
}
